[general]
framerate = 60
autosens = 1
bars = 30
bar_width = 3
bar_spacing = 1

[input]
method = pulse
source = auto

[output]
method = ncurses

[color]
gradient = 1
gradient_count = 6
gradient_color_1 = '#2c1c34'
gradient_color_2 = '#232234'
gradient_color_3 = '#27253c'
gradient_color_4 = '#242c34'
gradient_color_5 = '#342e4b'
gradient_color_6 = '#2d3c45'

[smoothing]
noise_reduction = 0.77
### Auto generated wallust colors ###

[color]

 gradient = 1
 gradient_count = 8
 gradient_color_1 = '{{ color1 }}'
 gradient_color_2 = '{{ color2 }}'
 gradient_color_3 = '{{ color3 }}'
 gradient_color_4 = '{{ color4 }}'
 gradient_color_5 = '{{ color5 }}'
 gradient_color_6 = '{{ color6 }}'
 gradient_color_7 = '{{ color7 }}'
 gradient_color_8 = '{{ color8 }}'
