# Auto generated color theme for Hyprland by wallust
general {
    col.active_border = rgba({{ color2[1:] }}ff) rgba({{ color4[1:] }}ff) 45deg
    col.inactive_border = rgba({{ color8[1:] }}cc) rgba({{ color7[1:] }}cc) 45deg
}

group {
    col.border_active = rgba({{ color2[1:] }}ff) rgba({{ color4[1:] }}ff) 45deg
    col.border_inactive = rgba({{ color8[1:] }}cc) rgba({{ color7[1:] }}cc) 45deg
    col.border_locked_active = rgba({{ color2[1:] }}ff) rgba({{ color4[1:] }}ff) 45deg
    col.border_locked_inactive = rgba({{ color8[1:] }}cc) rgba({{ color7[1:] }}cc) 45deg
}

decoration {
    rounding = 10

    blur {
        enabled = yes
        size = 6
        passes = 3
        new_optimizations = on
        ignore_opacity = on
        xray = false
    }
}