# Special colors
background {{ background | lighten(0.1) }}
foreground {{ foreground }}

# Black
color0  {{ color0 }}
color8  {{ color8 }}

# Red
color1  {{ color1 | blend("#ff0000")  }}
color9  {{ color9 }}

# Green
color2  {{ color7 }}
color10 {{ color10 }}

# Yellow
color3  {{ color3 }}
color11 {{ color11 }}

# Blue
color4  {{ color4 | blend("#0000ff")  }}
color12 {{ color12 }}

# Magenta
color5  {{ color5 }}
color13 {{ color13 }}

# Cyan
color6  {{ color6 }}
color14 {{ color14 }}

# White
color7  {{ color7 }}
color15 {{ color15 }}
